/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url("/img/bg.jpg");
  background-size: 1080px 720px;
  background-position: center center;
  height: 450px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MyArticles {
  padding: 50px;

  article {
    color: #ccc;
    background-color: aqua;
  }
}