/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
:root {
  --ifm-color-primary: #ff8c00;
  --ifm-color-primary-light: #e67e00;
  --ifm-color-primary-lighter: #d97700;
  --ifm-color-primary-lightest: #b36200;
}

.purple-text {
  text-align: center;
  text-decoration: solid;
  text-shadow: black;
  color: black;
  background-color: whitesmoke;
}

.pagination-nav {
  display: flex;
  text-decoration: solid;
}

.pagination-nav a{
  color: whitesmoke;
  text-align: center;
  background-color: #212121;
  border: none;
}
