/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
:root {
  --ifm-color-primary: #ffa500;
  --ifm-color-primary-dark: #e69400;
  --ifm-color-primary-darker: #d98c00;
  --ifm-color-primary-darkest: #b37300;
}

.purple-text {
  text-align: center;
  color: #212121;
  background-color: #F5F5F5;
}

.pagination-nav a{
  color: #F5F5F5;
  border-color: orange;
  outline: none;
  background-color: #212121;
  border-radius: 1rem;
}

.pagination-nav__sublabel {
  display: none;
}

.pagination-nav__link--next .pagination-nav__label::after {
  content: '+';
  margin-left: 4px;
}

.pagination-nav__link--prev .pagination-nav__label::before {
  content: '-';
  margin-right: 4px;
}

.navbar {
  background-color: #101010;
  box-shadow: none;
}

.navbar__title {
  display: none;
}

.navbar__item,
.menu__link {
  font-size: 16px;
  color: #F5F5F5;
}

.logo-navbar {
  pointer-events: none;
}

.logo-footer {
  pointer-events: none;
}

.img {
  pointer-events: none;
}

.menu__list-item-collapsible:hover {
  background: none;
}

.title {
  font-size: xx-large;
  font-family: 'sans-serif';
  color: #F5F5F5;
  text-align: center;
  text-decoration: solid;
}

.description {
  font-size: large;
  font-family: 'sans-serif';
  color: #F5F5F5;
  text-align: center;
  text-decoration: solid;
}