/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
:root {
  --ifm-color-primary: #ff8c00;
  --ifm-color-primary-light: #e67e00;
  --ifm-color-primary-lighter: #d97700;
  --ifm-color-primary-lightest: #b36200;
}

.purple-text {
  text-align: center;
  text-decoration: solid;
  text-shadow: black;
  color: black;
  background-color: whitesmoke;
}

.pagination-nav a{
  color: #212121;
  border: none;
  outline: none;
  background-color: #F5F5F5;
  border-radius: 1rem;
  box-shadow:
    -3px -10px 15px #ffffff,
    -3px -5px 10px #ffffff,
    -10px 0px 15px #ffffff,
    3px 10px 12px rgba(0, 0, 0, 0.2);
}

.pagination-nav__sublabel {
  color: #212121;
}

.navbar {
  background-color: #F5F5F5;
  font-size: x-large;
  box-shadow: none;
}

.title {
  font-size: xx-large;
  font-family: 'sans-serif';
  color: #ffffff;
  text-align: center;
  text-decoration: solid;
}

.subtitle {
  font-size: large;
  font-family: 'sans-serif';
  color: #ffffff;
  text-align: center;
  text-decoration: solid;
}